header{
    background: #f86666;
    width: 100%;
    height: 100vh;
    nav{
        width: 100%;
        .menu{
           width: 100%;
           height: 40px;
           display: flex;
           justify-content: space-between;
           align-items: center;
           ul{
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            li{
                display: block;
                list-style: none;
                color: aqua;
            }
           }
        }
    }
}